<div class="wrapper">
    <div class="menu">
        <ul>
            <li><a href="#">WorldBank</a></li><li>IFC</li>
            <li>MIGA</li>
        </ul>
    </div>
    <div class="search-box">
        <input type="text" class="form-control" placeholder="Username" aria-label="Username">
        <span class="input-group-text">@</span>
    </div>
    <div class="filters"></div>
    <div class="top-projects">
        Social, Urban, Rural & Resili 223
        Energy & Extractives 206
        Transport & Digital Develop 200
    </div>
    <div class="top-countries"></div>
</div>
